[submodule "tools/dt"]
	path = tools/dt
	url = https://github.com/Siguza/dt.git
[submodule "tools/ldid"]
	path = tools/ldid
	url = https://github.com/rickmark/ldid.git
	branch = plist2
[submodule "tools/img4lib"]
	path = tools/img4lib
	url = https://github.com/xerub/img4lib.git
